/* Universal Styles*/
html{
    font-family: Helvetica;
    background-color: black;
    color: seashell;
    font-size: 22px;
    opacity: 0.9;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}


/*header*/
.header {
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 1000;

}

.style-header {
    display: flex;
    border-bottom: 1px solid seashell;
    max-height: 69px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
nav{ 
    max-width: 100%;
}

.nav-items{
    display: inline-flex;
    max-width: 100%;
    text-decoration: underline;
    justify-content: flex-end;
    margin: 10px;
}

a {
    color: gray;
}
#logo {
    max-height: 50px;
    margin-left: 0px;
    align-items: left;
    justify-content: flex-end;
}
/*main*/
.main{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.main-container{
    width: 1200px;
    height: 700px;
    background-image: url("../img-mission-background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner{
    background-color: black;
    width: 1200px;
    height: 130px;
    margin-top: 25px;
    justify-content: center;
}
/*section*/

.tea-section{
    display: block;
    text-align: center;
    width: 1000px;
    height: 700px;
    margin: auto;
    padding: auto;
}

.tea-container{
    display: block;
    text-align: center;
    margin: auto;
    padding: auto;
}

.tea {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    gap: 20px;
}

.tea-item img {
    height: 200px;
    width: 300px;
}

.tea-item:nth-child(4) {
    margin-right: -155px;
}

.item-item:nth-child(5) {
    margin-left: -155px;
}

.tea-item h4 {
    margin-bottom: 10px;
}


/*location*/
.locations{
    display: block;
    background-image: url("../img-locations-background.webp");
    background-repeat: no-repeat;
    background-size: 1200px 700px;
    align-self: center;
    text-align: center;
    width: 1200px;
    height: 500px;
    margin: auto;
    padding: auto;
}


.location-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    padding: auto;
}

h2#Locations {
    position: relative;
    top: 70px;
    margin-bottom: 20px;
}

.location {
    background-color: black;
    text-align: center;
    opacity: 1;
    width: 300px;
    margin-top: 70px;
    gap: 100px;
}

/*footer*/
.footer{
    display: flex;
    flex-flow: column;
    justify-content: center;
    max-height: 200px;
    text-align: center;
    margin: 15px;
}
.copyright{
    margin-left: 20px;
}
.copyright h5{
    text-align: left;
}